.home{
    position: absolute;
    top: 59%;
}
.cart{

    
}
.cart h2{
    border: 1px solid blue;

}
.footer{
    margin-top: 1%;
    width: calc(98%);
    padding: 1%;
    position: relative;
    float: left;
    background-color:#6495ed;
    height: calc(100%);
    border-radius: 10px;
    text-align: center;
}
.sideBar{
    position: absolute;
    top: 20%;
    text-align: center;
    width: calc(28%);
   padding: 1%;
    float: left; 
    background-color: rgb(229, 222, 17);
    display: flex;
    flex-direction: column;
  
}

.Rightbox{
    width: 100%;
    margin-top: 10px;
    padding: 1%;
     text-align: center;  
}
.Allitems{
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;


}
.card{border: 2px solid black; 
text-align: center;
width: 250px;
padding: 5px;


}

.card-img-top{height: 200px;}


.card-title{position: relative;
    font-weight: bold;
   height: 160px;
}
.card .btn-primary{
    width: 90%;
    vertical-align: bottom;
    font-size: larger;
    color: black;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 2%;
    margin-top: 5px;
    
   
}
.card :hover{
    width: 90%;
}
.icone{
 position:initial;
 float: right;
    /* position: absolute;
    margin-left: 64%;
    margin-top: 0px; */
}
.card button{ position:relative;
bottom: 0px;}
.addtocart{ margin-right: 100px; border: 1px solid black;}
.addtocart ul{ display: flex; list-style-type: none; margin: 0px;}
.addtocart ul li{border: 1px solid black;}
.totalPrice{
    text-align: center;
    margin: 10px;
    font-size: large;
    font-weight: bold;
}
.totalPrice button{font-size: larger;
border: none; margin-left: 25px;}

.navbar-light .navbar-nav .nav-link{
    font-size: 30px;
    margin-right: 30px;
}
.bg-light {
    background-color: coral;
}
.icone {font-size: xx-large;}
.catagory{text-align: center;
width: 100%;
}
.catagory button{margin: 8px;}
.catitems{    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}
.catitems .card{margin: 1%;}
.catlist{
margin-top: 15px;
}
.about{width: 100%;
    text-align: center;
    
  
    }
  .col{border: 1px solid blueviolet;
    width: 90%;
    cursor: move;
margin: 5px; height:600px; 
background-color: aquamarine;
border-radius: 10%;
padding: 1%;}
  .colcolore{background-color: chocolate;}
  .about p{font-weight: bold;
    font-size: x-large;}
iframe{height:1200px;}

.mx-auto{display: flex;
width: 100%;}
.mx-auto img{width: 100%;}